<div class="jumbotron">
  <h1>Welcome to LiveMotiv =)</h1>
  <p>Get help and advice to decide what to do in your life</p>
  <a href="users/auth/facebook" class="btn btn-primary btn-lg">Sign in with Facebook</a>
</div>
